header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.4em;
  background-color: #904C77;
  font-family: 'Noto Sans';
}

header > h1{
  color: #F3E5AB;
  font-size: 1.5em;
  font-weight: 700;
}

main{
  padding: 1.5em 0.2em 4em 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: ivory;
}

main > section{

  margin-block: 1.2em;

}

main > section#description > p{
  font-family: "Roboto", serif;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

main > section#attempts{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
}

main > section#attempts > .attempt > span{
  display: inline-block;
  font-family: "Roboto", serif;
  font-weight: 700;
  background-color: #ECCFC3;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.2em;
  width: 2em;
  height: 2em;
  border-radius: 6px;
  border-bottom: 5px solid #ECB8A5;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  line-height:1em;
}

main > section#attempts > .attempt > span.correct{

  background-color: #C1E1C1;
  border-bottom: 5px solid #8A9A5B;
 
}

main > div.replay-dialog-overlay > div.replay-dialog button{
  outline: none;
  box-shadow: none;
  border: 0px;
  font-family: "Roboto", serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1em;
  color: #F3E5AB;
  
}

.winbutton{
  border-radius: 8px;
  background-color: #904C77;
  border-bottom: 5px solid #854c90;
}

.losebutton{

  outline: none;
  border: 0px;
  border-radius: 8px;
  background-color: #FF0000;
  border-bottom: 5px solid #A52A2A;

}

.replay-dialog-overlay{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.replay-dialog-header{
  padding: 1em;
  font-family: "Roboto", serif;
}

.replay-dialog-info{
  padding-bottom: 1em;
  font-family: "Roboto", serif;
}

.replay-dialog {
  background-color: ivory; 
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  width: 90%;
  max-width: 400px;
  text-align: center;
  border: 2px solid #904C77;
}

main > section#attempts > .attempt > span.incorrect{

  background-color: #FF0000;
  border-bottom: 5px solid #A52A2A;
 
}

main > section#attempts > .attempt > span.misplaced{

  background-color: #FCF55F;
  border-bottom: 5px solid #FFD700;
 
}

#keyboardcontainer{
  width: 100vw;
  left: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: ivory;
  padding: 1.5em;
}

#keyboard{
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
}

.letterbutton{
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #444444;
  border-bottom: 3px solid #888888;
  font-family: "Roboto", serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
  background-color: #FCFCFC;
  text-transform: uppercase;
  min-width: 2em;
  text-align: center;
}

.letterbutton:hover{
  background-color: #904C77;
}

/* I really battled with these */

@media (max-width: 767px) {
  html {
      font-size: 14px;
  }

  #keyboardcontainer{
    padding: 0.5em;
  }

  .letterbutton{
    font-size: 1.2em;
    min-width: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  main > section#attempts > .attempt > span{
    width: 5vw;
    height: 4vh;
  }
}

@media (min-width: 1025px) {

}
