header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.4em;
  background-color: #904C77;
  font-family: 'Noto Sans';
}

header > h1{
  color: #F3E5AB;
  font-size: 1.5em;
  font-weight: 700;
}

main{
  padding: 1.5em 0.2em 4em 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  background-color: ivory;
}

main > section{

  margin-block: 1.2em;

}

main > section#description > p{
  font-family: "Roboto", serif;
  font-weight: 500;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

main > section#attempts{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-between;
  align-items: center;
  margin-top: 4em;
}

main > section#attempts > .attempt > span{
  display: inline-block;
  font-family: "Roboto", serif;
  font-weight: 700;
  background-color: #ECCFC3;
  font-size: 1.5em;
  padding: 0.5em;
  margin: 0.2em;
  width: 2em;
  height: 2em;
  border-radius: 6px;
  border-bottom: 5px solid #ECB8A5;
  text-align: center;
  align-self: center;
  vertical-align: middle;
  line-height:1em;
}

main > section#attempts > .attempt > span.correct{

  background-color: #C1E1C1;
  border-bottom: 5px solid #8A9A5B;
 
}

main > div.dialog-overlay > div.dialog button{
  outline: none;
  box-shadow: none;
  border: 0px;
  font-family: "Roboto", serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 1em;
  color: #F3E5AB;
  
}

.winbutton{
  border-radius: 8px;
  background-color: #904C77;
  border-bottom: 5px solid #854c90;
}

.losebutton{

  outline: none;
  border: 0px;
  border-radius: 8px;
  background-color: #FF0000;
  border-bottom: 5px solid #A52A2A;

}

.dialog-overlay{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex; 
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog-header{
  padding: 1em;
  font-family: "Roboto", serif;
}

.dialog-header-instruction{
  padding: 0.6em;
  font-size: 3em;
  font-family: "Roboto", serif;
}

.dialog-header-subheading{
  padding: 0.6em;
  font-size: 1.5em;
  font-family: "Roboto", serif;
}

.dialog-info{
  padding-bottom: 1em;
  font-family: "Roboto", serif;
}

.italic{
  font-style: italic;
}

.dialog-explainer-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.dialog-explainer{
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
}

.dialog-explainer img {
  width: 50px;
  height: 50px;
  margin-right: 0.5em;
  vertical-align: middle;
}

.dialog {
  background-color: ivory; 
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
  width: 90%;
  max-width: 400px;
  text-align: center;
  border: 2px solid #904C77;
  font-family: "Roboto", serif;
}

main > section#attempts > .attempt > span.incorrect{

  background-color: #FF0000;
  border-bottom: 5px solid #A52A2A;
 
}

main > section#attempts > .attempt > span.misplaced{

  background-color: #FCF55F;
  border-bottom: 5px solid #CAC44C;
 
}

#keyboardcontainer{
  width: 100vw;
  left: 0;
  bottom: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: ivory;
  padding: 1.5em;
}

#keyboard{
  max-width: 768px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.3em;
}

.letterbutton{
  outline: none;
  box-shadow: none;
  border-radius: 6px;
  border: 1px solid #444444;
  border-bottom: 3px solid #888888;
  font-family: "Roboto", serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
  background-color: #FCFCFC;
  text-transform: uppercase;
  min-width: 2em;
  text-align: center;
}

.letterbutton:hover{
  background-color: #904C77;
}

.letterbutton.right{

  background-color: #C1E1C1;
  border-bottom: 3px solid #8A9A5B;

}

.letterbutton.wrong{

  background-color: #FF0000;
  border-bottom: 3px solid #A52A2A;

}

.letterbutton.almost{

  background-color: #FCF55F;
  border-bottom: 3px solid #CAC44C;

}

/* I really battled with these */

@media (max-width: 767px) {
  html {
      font-size: 14px;
  }

  #keyboardcontainer{
    padding: 0.5em;
  }

  .letterbutton{
    font-size: 1.2em;
    min-width: 1.5em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  main > section#attempts{
    height: 60vh;
    max-height: 60vh;
    width: 80vw;
    max-width: 80vw;
    margin-top: 3em;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  main > section#attempts > .attempt > span{
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0.1em;
    width: 2em;
    height: 2em;
    flex: 1 1 calc(40% - 1em); 
    max-width: 40%;
  }

  main > section#attempts > .attempt > span:nth-last-child(1){
    flex: 0 0 100%; /* The last item takes full width */
    text-align: center; /* Center-align the last item */
  }

}

@media (min-width: 1025px) and (max-height: 699px) {

  main > section#attempts{
    height: 50vh;
    max-height: 50vh;
    gap: 0.2em;
    margin-top: 3em;
    width: 50vw;
    max-width: 50vw;
  }

  #keyboardcontainer{
    height: 20vh;
    max-height: 20vh;
    padding: 2vh;
  }

  main > section#attempts > .attempt > span{
    display: inline-block;
    font-family: "Roboto", serif;
    font-weight: 700;
    background-color: #ECCFC3;
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0.2em;
    width: 2.2em;
    height: 2.2em;
    border-radius: 6px;
    border-bottom: 5px solid #ECB8A5;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    line-height:1em;
  }

}

@media (min-width: 1025px) and (min-height: 700px) {

  main > section#attempts{
    height: 60vh;
    max-height: 60vh;
    justify-content: flex-start;
    margin-top: 6em;
  }

  #keyboardcontainer{
    height: 20vh;
    max-height: 20vh;
    padding: 2vh;
  }

  main > section#attempts > .attempt > span{
    font-size: 1.5em;
    padding: 0.3em;
    margin: 0.1em;
    width: 1.7em;
    height: 1.7em;
    border-radius: 6px;
    border-bottom: 5px solid #ECB8A5;
    text-align: center;
    align-self: center;
    vertical-align: middle;
    line-height:1em;
  }



}
